main {
    flex: 1;
    padding: 2rem;
}

.background-image {
    background-image: url("../images/new-ocean-image.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

    .background-image {
        max-width: 100%;
    }
}