main {
    flex: 1;
    background-color: var(--seafoam);
    padding: 20px;
}

img {
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {

    img {
        max-width: 100%;
    }
}